/* Button 1 Styles */

.btn1 {
  height: 90px;
  width: 90px;
  padding: 5px;
  position: relative;
  border: 3px solid #18453b;
  border-radius: 10px;
  box-shadow: 0 8px 3px -3px #bbbbbb;
  margin: 0 15px 15px 0;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,1) 70%, rgba(24,69,59,.75));
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.btn1:after{
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 7px 7px 20px 20px;
  height: 50%;
  width: 98%;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 95%);
}

.btn1:hover {
  background: linear-gradient(rgba(24,69,59,1) 75%, rgba(24,69,59,.75));
  box-shadow: 0 6px 2px -2px #bbbbbb;
}

.btn1:hover:after {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 85%);
}

/* Button 2 Styles */

.btn2 {
  margin: 0 15px 15px 0;
  height: 90px;
  width: 90px;
  border: 5px outset rgba(24, 69, 59, 0.75);
  box-shadow: 0 8px 3px -3px #bbbbbb;
  background: #18453b;
  background: linear-gradient(135deg, rgba(24,69,59,.75), rgba(24,69,59,1));
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn2:hover {
  border: 5px inset rgba(24, 69, 59, 0.75);
  box-shadow: 0 6px 2px -2px #bbbbbb;
  background: linear-gradient(135deg, rgba(24,69,59,1), rgba(24,69,59,.75));
}

/* Button 3 Styles */

.btn3 {
  height: 100px;
  width: 100px;
  padding: 5px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0 8px 3px -3px #bbbbbb;
  margin: 0 15px 15px 0;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,1) 85%, rgba(24,69,59,.75));
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.btn3:after{
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 50px 50px 0 0;
  height: 52.5%;
  width: 98%;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1) 85%);
}

.btn3:hover {
  background: linear-gradient(rgba(24,69,59,1) 90%, rgba(24,69,59,.75));
  box-shadow: 0px 6px 2px -2px #cccccc;
}

.btn3:hover:after {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0.1) 75%);
}

/* Button 4 Styles */

.btn4 {
  margin-bottom: 10px;
  padding: 5px;
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 3px -3px #bbbbbb;
  margin: 0 15px 15px 0;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,1) 85%, rgba(24,69,59,.75));
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn4:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0px 0px;
  height: 50%;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1) 85%);
}

.btn4:hover {
  background: linear-gradient(rgba(24,69,59,1) 90%, rgba(24,69,59,.75));
  box-shadow: 0px 6px 2px -2px #bbbbbb;
}

.btn4:hover:after {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0.1) 65%);
}

/* Button 5 Styles */

.btn5 {
  position: relative;
  border: 2px solid #18453b;
  border-radius: 7px;
  box-shadow: 0 8px 3px -3px #bbbbbb;
  margin: 0 15px 15px 0;
  padding: 5px;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,1) 80%, rgba(24,69,59,.75));
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.btn5:after{
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 15px 15px 85px 85px;
  height: 50%;
  width: 98%;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1));
}

.btn5:hover {
  background: linear-gradient(rgba(24,69,59,1) 85%, rgba(24,69,59,.75));
  box-shadow: 0 6px 2px -2px #bbbbbb;
}

/* Button 6 Styles */

.btn6 {
  margin: 0 15px 15px 0;
  padding: 5px;
  border: 5px outset rgba(24, 69, 59, 0.75);
  box-shadow: 0 8px 3px -3px #bbbbbb;
  background: #18453b;
  background: linear-gradient(170deg, rgba(24,69,59,.75), rgba(24,69,59,1));
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn6:hover {
  border: 5px inset rgba(24, 69, 59, 0.75);
  box-shadow: 0 6px 2px -2px #bbbbbb;
  background: linear-gradient(170deg, rgba(24,69,59,1), rgba(24,69,59,.75));
}

/* Button 7 Styles */

.btn7 {
  margin: 0 15px 15px 0;
  padding: 5px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 3px -3px #bbbbbb;
  margin: 0 10px 10px 0;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,1) 85%, rgba(24,69,59,.75));
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn7:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0px 0px;
  height: 50%;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1) 85%);
}

.btn7:hover {
  background: linear-gradient(rgba(24,69,59,1) 80%, rgba(24,69,59,.75));
  box-shadow: 0px 6px 2px -2px #bbbbbb;
}

.btn7:hover:after {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0.1) 65%);
}
