/* Button 1 Styles */

.btn1 {
  /* Background Styles */
  height: 90px;
  width: 90px;
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #cccccc;
  margin: 0 10px 10px 0;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,.6), rgba(24,69,59,1));
  cursor: pointer;
  
  /* Text Styles */
  text-decoration: none;
  color: #fff;
}

.btn1:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50%;
  width: 100%;
  background: linear-gradient(rgba(24,69,59,1), rgba(24,69,59,0));
}

.btn1:hover {
  background: linear-gradient(rgba(24,69,59,.45), rgba(24,69,59,1));
  margin-top: 1px;
  margin-left: 1px;
}

/* Button 2 Styles */

.btn2 {
  /* Background Styles */
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #cccccc;
  margin: 0 10px 10px 0;
  padding: 5px;
  background: #18453b;
  background: linear-gradient(rgba(24,69,59,.6), rgba(24,69,59,1));
  cursor: pointer;
  
  /* Text Styles */
  text-decoration: none;
  color: #fff;
}

.btn2:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
  width: 100%;
  background: linear-gradient(rgba(24,69,59,1), rgba(24,69,59,0));
}

.btn2:hover {
  background: linear-gradient(rgba(24,69,59,.45), rgba(24,69,59,1));
  margin-top: 1px;
  margin-left: 1px;
}

/* Button 3 Styles */

.btn3 {

}

/* Button 4 styles */

.btn4 {

}

/* Button 5 Styles */

.btn5 {

}

/* Button 6 Styles */

.btn6 {

}